body {
    font-family: "Poppins",sans-serif;
    background: #F0F4F3;
    width: 100vw;
    height:100vh;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
    trans

}
body:hover {
    background-color:   #D8DBDA;
}
.col-1{
    background:white;
    display:   block;
    float: left;
    margin-right: 7%;
    margin-left: 4%;
    width:40%;
    border: 10px;
    border-radius: 10%;
    font:24px;
    padding:    232px 15px;
    height: 40%;


}
.col-2{
    background:white;
    display:   block;
    float: left;
    margin: 0 1,5%;
    width:40%;
    border: 10px;
    border-radius: 10%;
    font:24px;
    padding:    24px 15px
}
a{
    color: aqua;
}
.default {
/* unvisited link */
}
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: #C9DFF1;
}

/* mouse over link */
a:hover {
  color: #EFBFA8;
}

/* selected link */
a:active {
  color: blue;
}
footer {
    background: #EFBFA8;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    position: fixed;
    right: 0;
    text-align: center;
  }
  h1{
      size: 300px;
      color:#000;
  }
  header{
    background:white;
    display:   block;
    float: absolute;
    margin: 24px 1%;
    width:95%;
    border: 10px;
    border-radius: 10%;
    font-size:24px;
    padding:    24px 15px;
    justify-content: center;
    align-content: center
  }
  .spin {
    cursor: pointer;
    transform-style: preserve-3d;
  }
  .spin:hover{
    animation: spin 5s linear infinite;
  }
  @keyframes spin{
    0%  {transform:  rotateY(0deg);
    }
    100% { transform: rotateY(360deg);
    }
  }
  .cube {
    position: relative;
    width:  95px;
    left:43%;
    bottom: -327px;
  }
  .side {
    height: 95px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 95px;
    overflow: hidden;
    
  }
  .top{
    background: #BBD0E0;
    transform: rotate(-45deg) skew(15deg, 15deg);
  }
  .left {
    background: #B3C6D6;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  }
  .right{
    background: #A8BAC9;
    transform: rotate(-15deg) skew(-15deg, -15deg)  translate(50%,100%);
  }
  .demiformal{
    width: 10%;
    position: absolute;
    height: 30px;
    left:1%;
  }
  .demiformal img{
    height: 226px;
    width:  177px;
    position:  fixed;
    right:  1110px;
    top:  50%;
  }
  .demifun {
    width:  100%;
  }
  .demifun img{
    display: inline-block;
    width:  100%;
  }
  .demifun1 {
    width:  100%;
  }
  .demifun1 img{
    display: inline-block;
    width:  100%;
  }
  .demifun2 {
    width:  100%;
  }
  .demifun2 img{
    display: inline-block;
    width:  100%;
  }
  .scrollover{
    border-color: #000;
    border: 10px;
    radius: 6px;
    text-align: center;
    display: block;
    float: left;
    height: 10%;
    width: 100%;
  
  }
  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  }
  