body {
    font-family: "Poppins",sans-serif;
    background: #F0F4F3;
    width: 100vw;
    /* height:100vh; */
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
    

}
body:hover {
    background-color:   #D8DBDA;
}
.col-1{
    background:white;
    display:   block;
    float: left;
    margin-right: 7%;
    margin-left: 4%;
    width:40%;
    border: 10px;
    border-radius: 10%;
    font:24px;
    padding:    213px 15px;
    height: 40%;
    box-shadow: 1px 1px gray;


}
.col-2{
    background:white;
    display:   block;
    float: left;
    margin: 0 1,5%;
    width:40%;
    border: 10px;
    border-radius: 10%;
    font:24px;
    padding:    24px 15px;
    box-shadow: 1px 1px gray;
}
a{
    color: aqua;
}
.default {
/* unvisited link */
}
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: #C9DFF1;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: blue;
}
footer {
    background: #EFBFA8;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    position: fixed;
    right: 0;
    text-align: center;
  }
  h1{
      size: 300px;
      color:#000;
  }
  header{
    background:white;
    display:   block;
    float: absolute;
    margin: 25px 1%;
    width:95%;
    border: 10px;
    border-radius: 70px;
    font-size:24px;
    padding:    24px 15px;
    justify-content: center;
    align-content: center;
    text-align: center;
    box-shadow: 1px 1px gray
  }
  header:hover {
    background-color:   #EFBFA8;
    /* width: 100vw; */
    /* height:100vh; */
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
}

/* .col-1:hover{
  background-color:   #EFBFA8;
  width: 100vw;
  /* height:100vh; */
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: linear;
} */


  .spin {
    cursor: pointer;
    transform-style: preserve-3d;
  }
  .spin:hover{
    animation: spin 5s linear infinite;
  }
  @keyframes spin{
    0%  {transform:  rotateY(0deg);
    }
    100% { transform: rotateY(360deg);
    }
  }
  .cube {
    position: relative;
    width:  95px;
    left:43%;
    bottom: 32px;

  }
  .side {
    height: 95px;
    line-height: 95px;
    position: absolute;
    text-align: center;
    width: 95px;
    overflow: hidden;
    
  }
  .top{
    background: #BBD0E0;
    transform: rotate(-45deg) skew(15deg, 15deg);
  }
  .left {
    background: #B3C6D6;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  }
  .right{
    background: #A8BAC9;
    transform: rotate(-15deg) skew(-15deg, -15deg)  translate(50%,100%);
  }
  .demiformal{
    width: 10%;
    
    height: 30px;
    left:1%;
  }
  .demiformal img{
    height: 226px;
    width:  177px;
    
    right:  1320px;
    top:  50%;
    /* #1 */
    border: 5px solid hsl(0, 0%, 40%);
  
     /* #2 */
    padding: 5px;
    background: hsl(0, 0%, 20%);
  
     /* #3 */
    outline: 5px solid hsl(0, 0%, 60%);
  
    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow:
      0 0 0 10px hsl(0, 0%, 80%),
      0 0 0 15px hsl(0, 0%, 90%);
  
  }
  .demifun {
    width:  100%;
  }
  .demifun img{
    display: inline-block;
    width:  100%;
  }
  .demifun1 {
    width:  100%;
  }
  .demifun1 img{
    display: inline-block;
    width:  100%;
  }
  .demifun2 {
    width:  100%;
  }
  .demifun2 img{
    display: inline-block;
    width:  100%;
  }
  .scrollover{
    border-color: #000;
    border: 10px;
    radius: 6px;
    text-align: center;
    display: block;
    float: left;
    height: 10%;
    width: 100%;
    box-shadow: 1px 1px gray;
  }
  .scrollover:hover {
    background-color:   #EFBFA8;
    /* width: 100vw; */
    /* height:100vh; */
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
}


  table {
    border-collapse: collapse;
  }
  th,
  td {
    border: 1px solid #c6c7cc;
    padding: 10px 15px;
  }
  th {
    font-weight: bold;
  }
  .scrollover{
    display: inline-block;
    background-color: white;
    border-radius: 33px;
    width: 90%;
    padding:  24px 15px;
    text-align: center;
    margin: 25px 42px;
    color: #000;
    height: 240px;
    box-shadow: 1px 1px gray;
  }
  .professionalinfo{
    display: inline-block;
    background-color: white;
    border-radius: 33px;
    width:  90%;
    padding: 24px 15px;
    text-align: center;
    margin: 25px 42px;
    color-adjust: #000;
    height: 332px;
    box-shadow: 1px 1px gray;
  }

  .personalinfo:hover {
    background-color:   #EFBFA8;
    /* width: 100vw; */
    /* height:100vh; */
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
}

  .professionalinfo:hover {
  background-color:   #EFBFA8;
  /* width: 100vw; */
  /* height:100vh; */
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: linear;
}
  .personalinfo{
    display: inline-block;
    background-color: white;
    border-radius: 33px;
    width:  90%;
    padding: 24px 15px;
    text-align: center;
    margin: 25px 42px;
    color: #000;
    height: 332px;
    box-shadow: 1px 1px gray;
  }
  .threeimage{
    display: inline-block;
    background-color: white;
    border-radius: 33px;
    width: 90%;
    padding: 24px 15px;
    text-align: center;
    margin: 9% 42px;
    color: black;
    height: 240px;
    box-shadow: 1px 1px gray;
  }

  .threeimage:hover {
    background-color:   #EFBFA8;
    /* width: 100vw; */
    /* height:100vh; */
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: linear;
}

  /* .original,
.box {
  border-radius: 6px;
} */
.original {
  /* background: #eaeaed; */
  /* border: 1px dashed #cecfd5; */
  float: left;
  margin: -6px 91px;
}
.box {
  background: #2db34a;
  height: 175px;
  line-height: 95px;
  text-align: center;
  transform: perspective(200px) rotateX(45deg);
  width: 235px;
  overflow:hidden;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.demiwork img{
  display: inline-block;
  width: 100%;
}
.demiwork2 img{
  display:  inline-block;
  width: 100%;
}
.demiwork3 img{
  display:  inline-block;
  width: 100%;
}
h1{
  font-family: 'Amaranth', sans-serif;

}

.meetdemi {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}